@page
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@{
    ViewData["Title"] = "Rhino Widget - nygGKTtD";
}

<div style="overflow:visible">
    <h1>Automation Reports</h1>
    <ul>
        @foreach (var item in Utilities.GetReports(configuration))
        {
            <li><a href="/reports/@item.Name/test-run/index.html">@item.Path</a></li>
        }
    </ul>
</div>