@page
@{
    ViewData["Title"] = "Rhino Widget - nygGKTtD";
}

<div style="overflow:visible">
    <header id="settings_header" class="table-primary border-bottom box-shadow mb-3 fixed-top p-2" style="height: 95px; max-height: 95px;">
        <div class="container" style="padding-left:45px">
            <h4 style="padding-bottom:15px;">Rhino Widget Settings</h4>

            <i title="Apply settings for this machine."
               class="fas fa-check-circle action-button action-button-green medium-action-button"
               id="settings_apply"
               onclick="saveSettings();">
            </i>

            <a asp-page="/Index">
                <i title="Back to Rhino widget."
                   class="fas fa-home action-button action-button-generic medium-action-button fa-pull-right"
                   id="settings">
                </i>
            </a>
        </div>
    </header>

    <div class="accordion" id="settings_content">
        <partial name="~/Pages/Partials.Settings/_SettingsConnector.cshtml" />
        <partial name="~/Pages/Partials.Settings/_SettingsPlayback.cshtml" />
        <partial name="~/Pages/Partials.Settings/_SettingsRhino.cshtml" />
    </div>
</div>