<div class="card">
    <div class="card-header">
        <h4 class="panel-title">
            <a class="text-info text-decoration-none" data-toggle="collapse" href="#help">@*<small><i class="fa fa-plus"></i></small>*@Help &amp; Examples</a>
        </h4>
    </div>
    <div id="help" class="collapse" data-parent="#action_content">
        <div class="card-body">
            <div class="form-group">
                <div class="custom-control custom-checkbox col-sm-6">
                    <input type="checkbox" class="custom-control-input" id="is_element">
                    <label class="custom-control-label" for="is_element">Take from current element</label>
                </div>
            </div>

            <div class="card border-primary mb-3">
                <div class="card-header">Description</div>
                <div class="card-body">
                    <h5 class="card-title"><span id="help_action">[Action] </span> <small class="badge badge-info" id="help_badge">[identifier]</small></h5>
                    <p class="card-text small" id="help_description">[Action Description]</p>
                </div>
            </div>

            <div class="accordion" id="help_rows">

            </div>

            @*<div id="help_rows"></div>*@
        </div>
    </div>
</div>