@inject HttpClient Http

@if (_services == null || !_services.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Data & Invocation Managment</h3>
            <ul class="nav side-menu">
                <!-- Micro Services Menu -->
                <NavMenuItem Icon="fa fa-globe" Title="Micro Services" Items="@_services" />
                <NavMenuItem Icon="fa fa-gears" Title="Automation Center" />
                <NavMenuItem Icon="fa fa-bar-chart" Title="Reports Center" />
            </ul>
        </div>
    </div>
}

@code{
    // members fa fa-bar-chart
    private IEnumerable<string> _services;

    // get services list from the server when component initialized
    protected async override Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("/api/v3/meta/services");
        if (!response.IsSuccessStatusCode)
        {
            _services = Array.Empty<string>();
            return;
        }
        var responseBody = await response.Content.ReadAsStringAsync();
        _services = JsonSerializer
            .Deserialize<IEnumerable<string>>(responseBody)
            .Where(i => !i.ToUpper().StartsWith("RHINO"));
    }
}
